.error-indicator {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 100%;

  color: tomato;
}
.error-indicator p {
  font-size: 24px;
}

.error-indicator p:first-child {
  font-size: 45px;
}

.error-indicator img {
  width: 64px;
}

@media (max-width: 480px) {
  .error-indicator p {
    font-size: 18px;
  }

  .error-indicator p:first-child {
    font-size: 35px;
  }
}
